/*material风格表格*/
.material-table-style > thead > tr > th,
.material-table-style > tbody > tr > th,
.material-table-style > tfoot > tr > th,
.material-table-style > thead > tr > td,
.material-table-style > tbody > tr > td,
.material-table-style > tfoot > tr > td{
    padding: 16px 8px;
    text-align: center;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0;
}