/*material风格表格*/
.material-table-style > thead > tr > th,
.material-table-style > tbody > tr > th,
.material-table-style > tfoot > tr > th,
.material-table-style > thead > tr > td,
.material-table-style > tbody > tr > td,
.material-table-style > tfoot > tr > td{
    padding: 12px;
    text-align: center;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px;
    border-bottom: 0px;
    border: 0px;
}