/*********全局色彩*********/
@bodyBackgroundColor:#f4f5f5;;
@headerBackgroundColor:rgba(255,255,255,.97);
/*********全局高度长度*********/
@headerHeight:58px;
@headerBorder:1px;

html{
  height:100%;
}
/*********body*********/
body{
  background-color:@bodyBackgroundColor;
  height:100%;
}
/*********主页*********/
.content{
  position: fixed;
  top:@headerHeight + @headerBorder;
  left: 0;
  right: 0;
  text-align: center;
}
.panel-margin-portrait-10x{
  margin: 10px 0;
}
.panel-margin-portrait-20x{
  margin: 20px 0;
}
.hide-display{
  display: none;
}