/*material风格分页器*/
.material-paging-style {
    height: 35px;
    margin: 10px;
}
.material-paging-style .page-box{
    float: right;
    height: 40px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-paging-style select {
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    width: auto;
    border-color: gainsboro;
}
.material-paging-style span {
    margin-right: 10px;
}
.material-paging-style a {
    height: 30px;
    width: 30px;
    border: 1px solid gainsboro;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 3px;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
}
.material-paging-style .unavailable{
    color: #ccc;
    border-color: #efefef;
    cursor: default;
}